

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
</head>
<body>
    <div id="loadContent">
            @*<img src="download.jpg" alt="Airlines">*@
            <img src="~/Content/themes/base/images/download.jpg" /><h1>We Make You Fly!</h1>
    </div>
</body>
</html>
